{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["transform-regenerator", {
      "asyncGenerators": true,
      "generators": false,
      "async": true
    }],
    "transform-async-generator-functions"
  ]
}